 .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #110022;
  }
  .navbar-nav  li a:hover {
    color: #aa1c30 !important;
  }

  @keyframes grow {

    from {
      font-size: 0px;
    }

    to {
      font-size: 250%;
    }
    
  }

  @keyframes sub_grow {
    from {
      font-size: 0px;
    }

    to {
      font-size: 100%;
    }
  }

.jumbotron {
  color: white;
  background-color: #0b0214;
  border-radius: 0px;
  animation-name: sub_grow;
  animation-duration: 4s;
  animation-fill-mode: forwards;

}
  
  .jumbotron h1 {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

  body {
    background-color: #e7e7e7;
  }

  .dark_modeb {
    background-color: #151616;
    color: white;
  }

  .ib_d {
    background-color: #1f2122;
    color: white;
    padding: 10px;
    z-index: -1;
    opacity: 0.9;
    border-radius: 25px;
    margin-bottom: 3px;
    box-shadow: #aaa;
    text-shadow: #aaa;
  }

  .dp {
    width: 200px;
    background: #aaa;
    border-radius: 100%;
    margin: 10px;
  }
  .blog_i {
    width: 80%;
    font-family:Verdana, Brush Script MT, Perpetua;
    font-size: 120%
  }
  .blog_im {
    border-radius: 25px;
  }
  .blog_t {
    font-family: 'Manrope', sans-serif;
    font-variation-settings: 'wght' 400;
    font-size: 105%
  } 

  h2 {
    font-family: helvetica;
  }
  .spacer {
    height: 50px;
  }

.ib{
  padding: 10px;
  z-index: -1;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 3px;
}
#navbutton {
  background-color: #110022;
  color: white;
  border-radius: 10px;
}
.bpost {
  z-index: 100;
}

.footer {
    padding: 35px;
    color: white;
    background-color: #0b0214;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    width: 100%;
}