h2 {
 font-family: helvetica;
}

.boxes{
  font-family: 'Manrope', sans-serif;
  padding: 50px;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 8px;
}

.boxes_d{
  font-family: 'Manrope', sans-serif;
  padding: 50px;
  background-color: #1f2122;
  color: white;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 8px;
}

.ar {
  border-radius: 20px;
  margin: 8px;
}

#content {
 font-family: 'Manrope', sans-serif;
 font-variation-settings: 'wght' 800;
}

#location {
  color: green;
}

#navbutton {
  background-color: #aa1c30;
  color: white;
  border-radius: 10px;
}
.bpost {
  z-index: 100;
}
