.dp {
    width: 200px;
    background: #aaa;
    border-radius: 100%;
    margin: 10px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    background-color: #110022;
  }
  .navbar-nav  li a:hover {
    color:#aa1c30 !important;
  }
  .jumbotron {
    color: white;
    background-color:#0b0214;
    border-radius: 0px;
  }

  body {
    background-color: #151616;
  }
  
  #syll {
    height: 100%;
    background-color: #636A76;
  }


#bg2 {
  /* The image used */
  background-image: url("bg.png");
    
  /* Full height */
  height: fit-content;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.blog_i {
  width: 80%;
  font-family:Verdana, Brush Script MT, Perpetua;
  font-size: 120%
}
.blog_im {
  border-radius: 25px;
}
.blog_t {
  font-family: 'Manrope', sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 105%
}

.bpost {
  z-index: 100;
}

.ib{
  padding: 10px;
  z-index: -1;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 3px;
}

.ib_d {
  padding: 10px;
  z-index: -1;
  background-color: #1f2122;
  color: white;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 3px;
}


.container {
  margin-left: 0px;
}

  h2 {
    font-family: helvetica;
  }
  .spacer {
    height: 50px;
  }
 .fa {
  padding: 10px;
  font-size: 20px;
  max-width: fit-content;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  align-content: center;
}

.boxes{
  font-variation-settings: 'wght' 600;
  padding: 20px;
  background-color: white;
  opacity: 0.965;
  border-radius: 20px;
  margin-bottom: 20px;
}

.boxes_d{
  font-variation-settings: 'wght' 600;
  padding: 20px;
  background-color: #1f2122;
  color: white;
  opacity: 0.965;
  border-radius: 20px;
  margin-bottom: 20px;
}

#tt_box {
  max-width: fit-content;
  max-height: fit-content;
  padding: 13px;
}

#tt {
  width: 98%;
  margin: auto;
}

#c_info {
  padding: 10px;
  max-width: fit-content;
}

.a1 {
  margin: 0 auto 0 auto
}
.ar {
  margin-left: 5px;
  border-radius: 20px
}

form {
  padding: 5px;
}

input{
  padding: 5px;
  margin: 10px;
}

td{
  padding: 10px;
}
table{
  margin: 10px;
}
button {
  margin: 5px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-github {
  background: black;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.footer {
    padding: 35px;
    color: white;
    background-color:#0b0214;
    border-radius: 0px;
    position: relative;
    bottom: 0px;
    width: 100%;
}