

  #syll {
    height: 100%;
    background-color: #636A76;
  }


.blog_i {
  width: 80%;
  font-family:Verdana, Brush Script MT, Perpetua;
  font-size: 120%
}
.blog_im {
  border-radius: 25px;
}
.blog_t {
  font-family: 'Manrope', sans-serif;
  font-variation-settings: 'wght' 400;
  font-size: 105%
}

.bpost {
  z-index: 100;
}

.ib{
  padding: 10px;
  z-index: -1;
  background-color: #f5f5f5;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 3px;
}

.ib_d {
  padding: 10px;
  z-index: -1;
  background-color: #1f2122;
  color: white;
  opacity: 0.9;
  border-radius: 25px;
  margin-bottom: 3px;
}


.container {
  margin-left: 0px;
}
  .spacer {
    height: 50px;
  }
.boxes{
  font-variation-settings: 'wght' 600;
  padding: 20px;
  background-color: white;
  opacity: 0.965;
  border-radius: 20px;
  margin-bottom: 20px;
}

.boxes_d{
  font-variation-settings: 'wght' 600;
  padding: 20px;
  background-color: #1f2122;
  color: white;
  opacity: 0.965;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}

.container {
  margin: auto;
}

.form-control {
  background-color: rgb(139, 139, 139);
  border: 0px;
  border-radius: 13px;
  color: #ffffff;
}

#tt_box {
  max-width: fit-content;
  max-height: fit-content;
  padding: 13px;
}

#tt {
  width: 98%;
  margin: auto;
}

#c_info {
  padding: 10px;
  max-width: fit-content;
}

.a1 {
  margin: 0 auto 0 auto
}
.ar {
  margin-left: 5px;
  border-radius: 20px
}


td{
  padding: 10px;
}
table{
  margin: 10px;
}
button {
  margin: 5px;
}
